.project-img{
    max-width:450px;
    border-radius:12px;
    box-shadow:0 8px 24px rgba(0,0,0,0.12);
    transition: "transform 0..2s";

}
.project-img:hover{
    transform:scale(1.02);

}
.carousel-arrow{
    font-size:2rem;
    color: #1A5CFF;
}
.carousel-control-prev,.carousel-control-next{
    width:8%;
}
